.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | 重庆市贫困人员就业情况或需要调查系统
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/pc') 首页
        if worker && worker.username == 'admin'
          li(class=(title == 'Worker List') ? 'active' : undefined)
            a(href='/pc/worker/list') 用户管理
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') 联系我们
      ul.nav.navbar-nav.navbar-right
        if !worker
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/pc/login') 登录
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span(style="text-transform: none")= worker.username
              i.caret
            ul.dropdown-menu
              li
                a(href='/pc/worker') 设置
              li.divider
              li
                a(href='/pc/logout') 退出